/*global*/
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
  outline: 0px;
  background-color: inherit;
  color: inherit;
  font-family: "Inter", "Poppins", "IBM Plex Sans", sans-serif;
  font-size: inherit;
  box-sizing: border-box;
}

body {
  font-family: "Inter", "Poppins", "IBM Plex Sans", sans-serif;
  line-height: 1.6;
  font-size: inherit;
  color: white;
  background-color: #0c0c0c;
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4 {
  line-height: 1.2;
  color: #f1f1f1;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.3rem;
}

a {
  text-decoration: none;
  color: white;
}

button {
  cursor: pointer;
}

header {
  background-color: #1a1110;
  color: #fff;
  width: 30%;
  padding: 1rem;
  justify-content: space-around;
  display: flex;
  border-radius: 30px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  position: relative;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu ul {
  list-style: none;
  display: flex;
  align-items: center;
}

.menu a {
  text-transform: capitalize;
  font-weight: 500;
  margin: 0 0.4em;
  align-items: center;
  display: inline-block;
  position: relative;
}

.menu a:hover {
  color: beige;
}

.menu a::before {
  content: "";
  display: block;
  width: 0%;
  height: 0.2em;
  position: absolute;
  bottom: 0;
  background-color: blueviolet;
  transition: width 0.4s ease-in-out;
  text-transform: capitalize;
}

.menu a:hover::before,
.menu a:focus::before {
  width: 100%;
}

main {
  padding: 2em;
}

.link {
  color: white;
  padding: 0 0 0.3em 0;
  position: relative;
}

.link:hover {
  color: orange;
}

.link::before {
  content: "";
  display: inline;
  width: 0%;
  height: 0.2em;
  position: absolute;
  bottom: 0;
  background-color: white;
  transition: width 0.4s ease-in-out;
  text-transform: capitalize;
}

.link:hover::before,
.link:focus::before {
  width: 100%;
}

.link:hover::after,
.link:focus::after {
  width: 0%;
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 140vh;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  font-family: "IBM Plex Sans", sans-serif;
}

.aboutxt {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 1.2em;
  margin-bottom: 2em;
}

.stack {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  font-family: "IBM Plex Sans", sans-serif;
  margin-bottom: 3em;
  align-items: stretch;
  overflow-x: auto;
  padding-bottom: 20px;
  scrollbar-width: none; /* Hide scrollbar for Firefox */
  -ms-overflow-style: none; /* Hide scrollbar for Internet Explorer and Edge */
}

.stack::-webkit-scrollbar {
  display: none; /* Hide scrollbar for Chrome, Safari, and Opera */
}

.skill {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  font-family: "IBM Plex Sans", sans-serif;
  margin-bottom: 10px;
}
.card-container {
  display: flex;
  flex-direction: row; /* Ensure cards are displayed in a horizontal row */
  overflow-x: auto; /* Enable horizontal scrolling */
  width: 100%; /* Set a fixed width to ensure it does not expand beyond the viewport */
}

.card {
  width: 18rem;
  margin: 10px; /* Adjust as needed */
  border: 5px solid rgba(243, 236, 236, 0.1);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  background-color: #232424;
  display: flex; /* Use flexbox */
  flex-direction: column; /* Align children vertically */
  margin-right: 10px;
  flex: 0 0 auto; /* Allow cards to maintain their original size */
}

.card:last-child {
  margin-right: 0; /* Remove margin from the last card to avoid extra space */
}

/* .card:hover {
  transform: translateY(-5px);
} */

.card-img-top {
  flex: 1; /* Image takes up remaining space */
  object-fit: cover; /* Ensure image covers the entire space */
  border-radius: 20px;
}

.card-body {
  padding: 1rem;
  border-radius: 20px;
}

.card-title {
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 10px;
}
