/*global*/
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
  outline: 0px;
  background-color: inherit;
  color: inherit;
  font-family: "Inter", "Poppins", "IBM Plex Sans", sans-serif;
  font-size: inherit;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
}

body {
  font-family: "Inter", "Poppins", "IBM Plex Sans", sans-serif;
  line-height: 1.6;
  font-size: inherit;
  color: white;
  background-color: #0c0c0c;
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4 {
  line-height: 1.2;
  color: #f1f1f1;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.3rem;
}

a {
  text-decoration: none;
  color: white;
}

button {
  cursor: pointer;
}

header {
  background-color: #1a1110;
  color: #fff;
  width: 30%;
  padding: 1rem;
  justify-content: space-around;
  display: flex;
  border-radius: 30px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  position: relative;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu ul {
  list-style: none;
  display: flex;
  align-items: center;
}

.menu a {
  text-transform: capitalize;
  font-weight: 500;
  margin: 0 0.4em;
  align-items: center;
  display: inline-block;
  position: relative;
}

.menu a:hover {
  color: beige;
}

.menu a::before {
  content: "";
  display: block;
  width: 0%;
  height: 0.2em;
  position: absolute;
  bottom: 0;
  background-color: blueviolet;
  transition: width 0.4s ease-in-out;
  text-transform: capitalize;
}

.menu a:hover::before,
.menu a:focus::before {
  width: 100%;
}

main {
  padding: 2em;
}

.link {
  color: white;
  padding: 0 0 0.3em 0;
  position: relative;
}

.link:hover {
  color: orange;
}

.link::before {
  content: "";
  display: inline;
  width: 0%;
  height: 0.2em;
  position: absolute;
  bottom: 0;
  background-color: white;
  transition: width 0.4s ease-in-out;
  text-transform: capitalize;
}

.link:hover::before,
.link:focus::before {
  width: 100%;
}

.link:hover::after,
.link:focus::after {
  width: 0%;
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 140vh;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  font-family: "IBM Plex Sans", sans-serif;
}

.aboutxt {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 1.2em;
  margin-bottom: 2em;
}

.skills-heading {
  font-size: 48px;
  margin-bottom: 30px;
  width: 100%;
  text-align: center;
}

.skills-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center; /* Centers items horizontally */
  gap: 20px; /* Space between the heading and the skills */
  max-width: 100%;
  text-align: center;
  justify-content: center;
  margin-bottom: 50px;
}

.skill-row {
  display: flex;
  gap: 20px;
}

.skill {
  background-color: #333;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  gap: 10px;
  transition: transform 0.5s ease-in-out;
  justify-content: center;
  font-family: "IBM Plex Sans", sans-serif;
}

.skill i,
.skill-icon {
  font-size: 24px;
  width: 24px;
  height: 24px;
}

.skill:hover {
  transform: scale(1.1);
}
