/*global*/
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
  outline: 0px;
  background-color: inherit;
  color: inherit;
  font-family: "Inter", "Poppins", "IBM Plex Sans", sans-serif;
  font-size: inherit;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
}

body {
  font-family: "Inter", "Poppins", "IBM Plex Sans", sans-serif;
  line-height: 1.6;
  font-size: inherit;
  color: white;
  background-color: #0c0c0c;
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4 {
  line-height: 1.2;
  color: #f1f1f1;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.3rem;
}

a {
  text-decoration: none;
  color: white;
}

button {
  cursor: pointer;
}

header {
  background-color: #1a1110;
  color: #fff;
  width: 30%;
  padding: 1rem;
  justify-content: space-around;
  display: flex;
  border-radius: 30px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  position: relative;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu ul {
  list-style: none;
  display: flex;
  align-items: center;
}

.menu a {
  text-transform: capitalize;
  font-weight: 500;
  margin: 0 0.4em;
  align-items: center;
  display: inline-block;
  position: relative;
}

.menu a:hover {
  color: beige;
}

.menu a::before {
  content: "";
  display: block;
  width: 0%;
  height: 0.2em;
  position: absolute;
  bottom: 0;
  background-color: blueviolet;
  transition: width 0.4s ease-in-out;
  text-transform: capitalize;
}

.menu a:hover::before,
.menu a:focus::before {
  width: 100%;
}

main {
  padding: 2em;
}

.link {
  color: white;
  padding: 0 0 0.3em 0;
  position: relative;
}

.link:hover {
  color: white;
}

.link::before {
  content: "";
  display: inline;
  width: 0%;
  height: 0.2em;
  position: absolute;
  bottom: 0;
  background-color: white;
  transition: width 0.4s ease-in-out;
  text-transform: capitalize;
}

.link:hover::before,
.link:focus::before {
  width: 100%;
}

.link:hover::after,
.link:focus::after {
  width: 0%;
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 40vh;
}

.contact h2 {
  margin-bottom: 1em;
}

.contact h2,
h4 {
  font-family: "Poppins", sans-serif;
}

.cspan {
  border-bottom: 3px solid rgb(55, 55, 207);
  border-radius: 5px;
  font-family: "Poppins", sans-serif;
}

.socials {
  display: flex;
  gap: 3em;
  margin-top: 10px;
  justify-content: center;
}

.clink {
  color: thistle;
  font-family: "Poppins", sans-serif;
}

.clink:hover {
  color: rgb(255, 255, 255);
  transform: scale(1.1);
}

.clink {
  text-transform: capitalize;
  font-weight: 500;
  margin: 0 0.4em;
  align-items: center;
  display: inline-block;
  position: relative;
}

.clink::before {
  content: "";
  display: block;
  width: 0%;
  height: 0.2em;
  position: absolute;
  bottom: 0;
  background-color: blueviolet;
  transition: width 0.4s ease-in-out;
  text-transform: capitalize;
}

.clink:hover::before,
.clink:focus::before {
  width: 100%;
}

.email {
  display: flex;
  justify-content: center;
  margin-top: 5em;
}

.email h3 {
  font-family: "Poppins", sans-serif;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
  color: white;
}

.footer p {
  font-family: "Poppins", sans-serif;
}

@media screen and (max-width: 768px) {
  header {
    width: 80%;
    margin: 20px auto;
  }

  .contact {
    height: 25vh;
  }

  .contact h2 {
    font-size: 1.7rem;
    text-align: center;
  }

  .contact h4 {
    font-size: 1.2rem;
    text-align: center;
    margin: 20px auto;
  }

  .socials {
    flex-wrap: wrap;
    gap: 1em;
  }

  .email {
    align-items: center;
    text-align: center;
    margin: 60px auto;
  }

  .footer {
    flex-direction: column;
    text-align: center;
    margin-top: 100px;
  }

  .link {
    text-align: center;
    color: thistle;
  }
}
