/*global*/
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
  outline: 0px;
  background-color: inherit;
  color: inherit;
  font-family: "Inter", "Poppins", "IBM Plex Sans", sans-serif;
  font-size: inherit;
  box-sizing: border-box;
}

body {
  font-family: "Inter", "Poppins", "IBM Plex Sans", sans-serif;
  line-height: 1.6;
  font-size: inherit;
  color: white;
  background-color: #0c0c0c;
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4 {
  line-height: 1.2;
  color: #f1f1f1;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.3rem;
}

a {
  text-decoration: none;
  color: white;
}

button {
  cursor: pointer;
}

header {
  background-color: #1a1110;
  color: #fff;
  width: 30%;
  padding: 1rem;
  justify-content: space-around;
  display: flex;
  border-radius: 30px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  position: relative;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu ul {
  list-style: none;
  display: flex;
  align-items: center;
}

.menu a {
  text-transform: capitalize;
  font-weight: 500;
  margin: 0 0.4em;
  align-items: center;
  display: inline-block;
  position: relative;
}

.menu a:hover {
  color: beige;
}

.menu a::before {
  content: "";
  display: block;
  width: 0%;
  height: 0.2em;
  position: absolute;
  bottom: 0;
  background-color: blueviolet;
  transition: width 0.4s ease-in-out;
  text-transform: capitalize;
}

.menu a:hover::before,
.menu a:focus::before {
  width: 100%;
}

main {
  padding: 2em;
}

.link {
  color: white;
  padding: 0 0 0.3em 0;
  position: relative;
}

.link:hover {
  color: orange;
}

.link::before {
  content: "";
  display: inline;
  width: 0%;
  height: 0.2em;
  position: absolute;
  bottom: 0;
  background-color: white;
  transition: width 0.4s ease-in-out;
  text-transform: capitalize;
}

.link:hover::before,
.link:focus::before {
  width: 100%;
}

.link:hover::after,
.link:focus::after {
  width: 0%;
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.name-color:hover {
  color: red;
}

.home h1 {
  font-size: 4rem;
  margin-bottom: 1rem;
  font-family: "Poppins", sans-serif;
}

.home h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  font-family: "Inter", sans-serif;
}

.home p {
  margin-bottom: 1rem;
  text-align: center;
  margin: 0 1.3em;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 1.1em;
}

.resume {
  font-weight: 800;
  border-radius: 30px;
  position: relative;
  height: 4.5rem;
  width: 9rem;
  max-width: 100%;
  overflow: hidden;
  cursor: pointer;
  z-index: 3;
  text-align: center;
}

.resume::before {
  content: "";
  background: conic-gradient(transparent 270deg, white, transparent);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  aspect-ratio: 1;
  width: 100%;
  animation: rotate 2s linear infinite;
  z-index: -1;
}

/* Overlay */
.resume::after {
  content: "";
  background: inherit;
  border-radius: inherit;
  position: absolute;
  inset: 3px;
  height: calc(100% - 6px);
  width: calc(100% - 6px);
  z-index: -1;
}

@keyframes rotate {
  from {
    transform: translate(-50%, -50%) scale(1.4) rotate(0turn);
  }

  to {
    transform: translate(-50%, -50%) scale(1.4) rotate(1turn);
  }
}

.resume a {
  background-color: transparent;
}
