/*global*/
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
  outline: 0px;
  background-color: inherit;
  color: inherit;
  font-family: "Inter", "Poppins", "IBM Plex Sans", sans-serif;
  font-size: inherit;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
}

body {
  font-family: "Inter", "Poppins", "IBM Plex Sans", sans-serif;
  line-height: 1.6;
  font-size: inherit;
  color: white;
  background-color: #0c0c0c;
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4 {
  line-height: 1.2;
  color: #f1f1f1;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.3rem;
}

a {
  text-decoration: none;
  color: white;
}

button {
  cursor: pointer;
}

header {
  background-color: #1a1110;
  color: #fff;
  width: 30%;
  padding: 1rem;
  justify-content: space-around;
  display: flex;
  border-radius: 30px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  position: relative;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu ul {
  list-style: none;
  display: flex;
  align-items: center;
}

.menu a {
  text-transform: capitalize;
  font-weight: 500;
  margin: 0 0.4em;
  align-items: center;
  display: inline-block;
  position: relative;
}

.menu a:hover {
  color: beige;
}

.menu a::before {
  content: "";
  display: block;
  width: 0%;
  height: 0.2em;
  position: absolute;
  bottom: 0;
  background-color: blueviolet;
  transition: width 0.4s ease-in-out;
  text-transform: capitalize;
}

.menu a:hover::before,
.menu a:focus::before {
  width: 100%;
}

main {
  padding: 2em;
}

.link {
  color: white;
  padding: 0 0 0.3em 0;
  position: relative;
}

.link:hover {
  color: orange;
}

.link::before {
  content: "";
  display: inline;
  width: 0%;
  height: 0.2em;
  position: absolute;
  bottom: 0;
  background-color: white;
  transition: width 0.4s ease-in-out;
  text-transform: capitalize;
}

.link:hover::before,
.link:focus::before {
  width: 100%;
}

.link:hover::after,
.link:focus::after {
  width: 0%;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.card {
  background-color: #151616;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 350px;
  text-align: center;
}

.card-image {
  width: 100%;
}

.card-content {
  padding: 20px;
}

.card-title {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.card-description {
  color: #a0aec0;
  margin-bottom: 20px;
}

.card-buttons {
  margin-bottom: 20px;
}

.btn {
  background-color: #4299e1;
  color: white;
  padding: 10px 15px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  display: inline-block;
}

.btn:hover {
  background-color: #2b6cb0;
}

.card-tech-stack {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.tech {
  background-color: #4a5568;
  color: #e2e8f0;
  padding: 5px 10px;
  margin: 5px;
  border-radius: 3px;
  font-size: 0.9em;
}
